nav .container .nav-items{
  display: flex;
  text-decoration: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
nav .container .nav-items li{
  list-style: none;
}
nav .container .nav-items li a{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
nav .container .nav-items li a:hover{
  color: #1abc9c;
}
