@import url ('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.pic{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url('https://static.stereogum.com/uploads/2022/03/Stray-Kids_ODDINARY_2-1648675983.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
  
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}
.content{
  position: absolute;
  top: 550px;
  left: 500px;
}
.content h1{
  float: left;
  font-size: 130px;
  color: #fff;
}
