 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

nav{
  line-height: 70px;
  background: #282424;
  padding: 0 80px;
}
nav .container{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
nav .container h3{
  font-size: 1.7em;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
  font-family: 'Water Brush', cursive;
}
nav .container .nav-items{
  display: flex;
  text-decoration: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
nav .container .nav-items li{
  list-style: none;
}
nav .container .nav-items li a{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
}
nav .container .nav-items li a:hover{
  color: #dd393b;
}
.content{
  position: absolute;
  top: 30%;
  left: 4%;
}
.content h1{
  float: left;
  font-size: 90px;
  line-height: 100px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
}
